/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');

/* NORMALIZACIÓN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* VARIABLES */

:root {
    /* COLORES */
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisoscuro: #666;
    --grisclaro: #ebebeb;
    --verde: #39b54a;
    --negro: #000000;
    --blanco: #ffffff;
    /* FUENTES */
    --text-sm: 1.2em;
    --title-md: 2.4em;
    --text-md: 1.6em;
    --text-lg: 1.8em;
    --title-md: 2.4em;
    /* FAMILIAS DE FUNENTES */
    --roboto: 'Roboto', sans-serif;
}

/* ESTILOS COMUNES */

html {
    font-size: 62.5%;
    font-family: var(--roboto);
}

body {
    background-color: var(--grisclaro);
}

h2 {
    font-size: var(--title-md);
}

p {
    font-size: var(--text-sm);
}

.flex-row {
    display: flex;
    gap: 20px;
    align-items: baseline;
    flex-wrap: wrap;

}

/* CABECERA */

header{
    background-color: #eac926;
    
}

div.top-header {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

header picture.logo {
    display: block;
    width: 50%;
    /*justify-content: center;*/
}

.form {

    width: 50%;
 
    display: flex;
   

}

header nav {
    display: none;
    font-size: var(--text-sm);
}

header ul li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: var(--negro);
}

button,
input {
    background-color: white;
  border: 7px solid white;
  border-radius: 2px;
}

header .form .input {
    background-color: var(--blanco);
    border: 1px solid var(--blanco);
    color: var(--grisoscuro);
    padding: 2px;
    font-size: 13px;
    width: 100%;
    
}

header .form .submit {
    background-color: var(--blanco);
    border: 1px solid var(--blanco);
    width: 18px;
    padding: 2px;
}

header div.top-header p {
    text-align: center;
}

div.burger-menu {
    text-align: center;
}

div.burger-menu i {
    background-color: #0044AA;
    font-size: 20px;
    color: var(--blanco);
    height: 40px;
    width: 40px;
    margin: 10px 0 20px 0;
    padding: 10px;
    border-radius: 5px;
}


/* BANNER */

section.banner img {
    width: 100%;
}

/* MAIN */

main {
    width: 90%;
    margin: 0 auto;
    
}

main section article {
    background-color: var(--blanco);
    margin: 10px 0;
}

main section article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article img {
    width: 100%;
}


h2,
.description {
    color: var(--grisoscuro);
}

.price {
    font-size: var(--text-lg);
   /* width: 30%;*/
}

.discount,
.description {
    font-size: var(--text-md);
}

.description{
    opacity: 0;
    transition: opacity 0.5s linear;
}

main section article:hover .description{
    opacity: 1;
}

main section article i,
.discount {
    color: var(--verde);
}
/*
.discount {
    width: 70%;
}*/

main section article i {
    font-size: var(--text-md);
    border: 1px solid var(--verde);
    border-radius: 50%;
    padding: 8px;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    position: absolute;
    right: 20px;
    top: -15px;
    transition:0.5s;
}

main section article:hover i {
    transform: rotate(-90deg);
    transition: 0.5s;
}

main section h3 {
    margin: 20px 0px;
}


article div.product-card {
    width: 100%;
    border: 1px solid var(--grisclaro);
    padding: 15px;
    position: relative;
}



/* FOOTER */
/*
footer {
    display: flex;
}*/

footer section p {
    padding: 20px;
    text-align: center;
}

footer section.cosas-footer {
    text-align: center;
}

section.cosas-footer i {
    background-color: var(--blanco);
    font-size: 35px;
    color: #0044AA;
   /* height: 40px;*/
    width: 40px;
    margin: 20px 0 30px 0;
    /*padding: 10px;*/
    border-radius: 5px;
    transition: background 0.5s ease;
    
}

section.cosas-footer i:hover {
    background-color: #0044AA;
    color: var(--blanco);
}

footer h3 {
    color: var(--grisoscuro);
}
footer p {
    font-size: 13px;
    color: var(--grisoscuro);
}

p.copy {
    text-align: left;
}


/* RESPONSIVE */

@media (min-width: 361px){
    

    div.top-header {
        padding: 5%;
        display: block;
        align-items: center;
        gap: 40px;
        padding-top: 2% ;
    }

    header picture.logo {
        display: block;
        width: 40%;
        /*justify-content: center;*/
    }

    main section article .description{
        display: block;
    }
/*
    .description:hover{
        display: block;
    }*/

    .products-container {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .products-container article {
        max-width: 45%;
    }

    /*main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }*/

    header nav {
        display: none;
        font-size: var(--text-sm);
    }

    
}

@media (min-width: 769px){

    /*header {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 100;
    }*/


    div.top-header {
        padding: 5%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 40px;
        padding-top: 2% ;
    }

    form {
        background-color: white;
    }
    
    .form {
        width: 25%;
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    header .form .input {
        background-color: var(--blanco);
        border: 2px solid var(--blanco);
        color: var(--grisoscuro);
        padding: 2px;
        font-size: 13px;
    }
    
    header .form .submit {
        background-color: var(--blanco);
        border: 1px solid var(--blanco);
        width: 18px;
        padding: 2px;
    }

    .products-container article {
        max-width: 22%;
    }

  

    div.burger-menu i {
        display: none;
        background-color: #0044AA;
        font-size: 20px;
        color: var(--blanco);
        height: 40px;
        width: 40px;
        margin: 10px 0 20px 0;
        padding: 10px;
        border-radius: 5px;
    }

    header div .tamano {
        display: block;
        font-size: 12px;
    }

    header nav {
        display: flex;
        font-size: var(--text-sm);
        justify-content: space-between;
        padding: 19px;
    }

    .top-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header ul {
        display: flex;
    }

    header li {
        margin: 5px;
    }

    
    header picture.logo {
        display: block;
        width: 25%;
        /*justify-content: center;*/
    }

   footer div {
       display: flex;
   }

}